@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.sub__btn {
    @include h3-normal;
    width: 236px;
    height: 68px;
    background-color: inherit;
    color: $text-black-second;
    text-align: center;
    border-radius: 140px;
    border: 1px solid $secondary-dark;
    cursor: pointer;
}

.nature {
    background-color: $nature;
    border-color: $nature;
}

.technic {
    background-color: $tehnic;
    border-color: $tehnic;
}

.social {
    background-color: $social;
    border-color: $social;
}

.language {
    background-color: $language;
    border-color: $language;
}