@import '../../style/colors.scss';

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $back;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Liberation Sans';
    background-color: $back;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}