$back: #F7F7FD;
$accent: #5F43D0;
$secondary-light: #C8CDFF;
$secondary-dark: #0E0042;
$secondary-white: #ffffff;
$tehnic: #99AFE0;
$nature: #C9F079;
$language: #FEB7D7;
$social: #FFDAB5;
$text-black-first: #000000;
$text-black-second: #1D1D1D;
$text-grey: #80878F;