@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.accord {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $secondary-light;
    border-radius: 70px;
    padding: 35px 50px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 35;
        align-items: flex-start;
        background-color: inherit;

        &__title {
            @include h2-normal;
            color: $text-black-second
        }

        &__text {
            background-color: inherit;
            max-height: 0;
            overflow: hidden;

            &__info {
                @include h3-bold;
            }
        }
    }

    &__push {
        padding-top: 35px;

        &__btn {
            background-color: inherit;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $text-black-second;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

.active {
    max-height: 100vh;
}